params {
    // Defaults to run
    input                 = "./data/samplesheet.csv"
    output_dir            = "./results"
    host_ref              = "./data/reference/GRCh38.fa"
    bwa_ref               = null
    kraken_taxonomy_dir   = "./data/taxonomy"
    host_taxid            = 9606

    // Toggle tools
    run_bowtie2   = true
    run_bwa       = true
    run_kneaddata = true
    run_kraken2   = true
    run_krakenuniq= true
    run_kmcp      = true
}

workDir = "/tmp/${System.env.USER}/nxf-work"

process {
    executor = 'local'
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'copy'
    maxForks = 6

    cpus   = 32
    memory = '128 GB'
}

profiles {
    standard {
        trace {
            enabled = true
            raw     = true
            fields  = 'process,tag,realtime,peak_rss'
            file    = "${params.output_dir ?: 'results'}/trace.tsv"
            overwrite = true
        }
        timeline {
            enabled = true
            file    = "${params.output_dir ?: 'results'}/timeline.html"
            overwrite = true
        }
        report {
            enabled = true
            file    = "${params.output_dir ?: 'results'}/report.html"
            overwrite = true
        }
    }
}
